// Config
@import 'bootstrap-config'

// Grid
@import '~bootstrap/scss/grid'

// Containers
@import '~bootstrap/scss/containers'

// Forms
@import '~bootstrap/scss/forms'

// Root
@import 'root'

// Type
@import 'type'



.search-box
	margin-top: 10 * $spacer
	margin-bottom: 10 * $spacer

.card
	margin-bottom: 1.5 * $spacer

img
	width: 100%
	height: auto
